::ng-deep .warpper-datatable .dataTables_length label,
::ng-deep .warpper-datatable .dataTables_filter label{
	font-size: 16px;
	color: #000;
}
::ng-deep .warpper-datatable .dataTables_length label{
	margin-top: 10px;
}
::ng-deep .warpper-datatable .dataTables_length select{
    padding: 0 0 0 6px;
    margin: 0 6px;
}
/*show text end*/
::ng-deep .warpper-datatable .dataTables_filter label input {
    border-radius: 50px;
    border: solid 1px #000;
    height: 42px;
    padding: 6px 20px;
}
::ng-deep .warpper-datatable .dataTables_filter label input:focus{
	outline: 0;
}
/*Filter endd*/
::ng-deep .warpper-datatable table{
	border-collapse: collapse;
	border:solid 1px #7e84de;
}
::ng-deep .warpper-datatable table.dataTable.no-footer {
    border-bottom: 1px solid #7e84de;
}
::ng-deep .warpper-datatable .table tr th,
::ng-deep .warpper-datatable .table tr td {
    font-size: 16px;
    color: #7e84de;
    height: 42px;
    line-height: 42px;
    padding: 0 22px;
   	border:solid 1px #7e84de;
}
::ng-deep .warpper-datatable .table tr td{
    color: #000;
}
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_info {
    padding-top: 20px;
    font-size: 16px;
    color: #000;
}
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_paginate {
    padding-top: 12px;
    font-size: 16px;
    color: #000;
}
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_paginate .paginate_button{
    color: #000 !important;
    font-size: 16px;
}
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background: #7e84de;
    color: #fff !important;
    border-radius: 2px;
}
::ng-deep .warpper-datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #7e84de;
    color: #fff !important;
    border-radius: 2px;
    border-color:#7e84de;
}