<article>
	<div id="main">

		<!-- Autocomplete S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Autocomplete </h2>
			<app-autocomplete></app-autocomplete>
		</div>
		<!-- Autocomplete E -->

		<!-- Checkbox S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Checkbox </h2>
			<app-checkbox></app-checkbox>
		</div>
		<!-- Checkbox E -->

		<!-- DatePicker S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">DatePicker </h2>
			<app-mdatepicke></app-mdatepicke>
		</div>
		<!-- DatePicker E -->
		
		<!-- Menu Dropdown S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Menu Dropdown</h2>
			<app-menu></app-menu>
		</div>
		<!-- Menu Dropdown E -->

		<!-- Form Field S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Form Field </h2>
			<app-formfield></app-formfield>
		</div>
		<!-- Form Field E -->

		<!-- Input S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Input </h2>
			<app-input></app-input>
		</div>
		<!-- Input E -->
		 
		<!-- Radio Button S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Radio Button </h2>
			<app-radio></app-radio>
		</div>
		<!-- Radio Button E -->
	
		<!-- Select S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Select Option </h2>
			<app-select></app-select>
		</div>
		<!-- Select E -->

		<!-- Range Slider S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Range Slider </h2>
			<app-range-slider></app-range-slider>
		</div>
		<!-- Range Slider E -->

		<!-- Slide Toggle S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Slide Toggle </h2>
			<app-slide-toggle></app-slide-toggle>
		</div>
		<!-- Slide Toggle E -->

		<!-- Slide Nav Dashboard S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Slide Nav (Dashboard) </h2>
			<app-slide-nav></app-slide-nav>
		</div>
		<!-- Slide Nav Dashboard E -->




	</div> 
</article>