	
<!--The content below is only a placeholder and can be replaced.-->
<article>
	<div id="main">
		<!-- Banner start -->
		<app-banner></app-banner>	
		<!-- Banner end -->
		
		<!-- Accordian S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Accordian </h2>
			<app-accordian></app-accordian>
		</div>
		<!-- Accordian E -->
		
		<!-- Alert S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Alert </h2>
			<p>
				<ngb-alert [dismissible]="false">
					<strong>Warning!</strong> Better check yourself, you're not looking too good.
				</ngb-alert>
			</p>
		</div>
		<!-- Alert E -->
		
		<!-- Button S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Button</h2>
			<p>
				<app-button></app-button>
			</p> 
		</div>
		<!-- Button E -->

		<!-- Collapse Toggle S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Collapse Toggle</h2>
			<p>
				<app-collapse></app-collapse>
			</p> 
		</div>
		<!-- Collapse Toggle E -->

		<!-- Datepicker S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Datepicker</h2>
			<p>
				<app-datepicker></app-datepicker>
			</p> 
		</div>
		<!-- Datepicker E -->

		<!-- Dropdown S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Dropdown</h2>
			<p><app-dropdown></app-dropdown></p>
			<div ngbDropdown class="d-inline-block">
		      	<button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>Toggle dropdown</button>
		     	<div ngbDropdownMenu aria-labelledby="dropdownBasic3">
		        	<button ngbDropdownItem>Action - 1</button>
		        	<button ngbDropdownItem>Another Action</button>
		        	<button ngbDropdownItem>Something else is here</button>
		      	</div>
		    </div>
		</div>
		<!-- Dropdown E -->
		
		<!-- Model S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Model</h2>
			<p>
				<app-model></app-model>
			</p>
		</div>
		<!-- Model E -->

		<!-- Pagination S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Pagination</h2>
			<p>
				<app-pagination></app-pagination>
			</p>
		</div>
		<!-- Pagination E -->

		<!-- Popovers S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center">Popovers</h2>
			<p>
				<app-popover></app-popover>
			</p>
		</div>
		<!-- Popovers E -->

		<!-- Progress Bar S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Progress Bar</h2>
			<p>
				<app-progressbar></app-progressbar>
			</p>
		</div>
		<!-- Progress Bar E -->

		<!-- Rating Star S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Rating Star</h2>
			<p>
				<app-rating></app-rating>
			</p>
		</div>
		<!-- Rating Star E -->

		<!-- Table S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Table</h2>
			<p>
				<app-table></app-table>
			</p>
		</div>
		<!--Table E -->

		<!-- Tabs S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Tabs</h2>
			<p>
				<app-tabs></app-tabs>
			</p>
		</div>
		<!--Tabs E -->

		<!-- Timepicker S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Timepicker</h2>
			<p>
				<app-timepicker></app-timepicker>
			</p>
		</div>
		<!--Timepicker E -->

		<!-- Tooltip S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Tooltip</h2>
			<p>
				<app-tooltip></app-tooltip>
			</p>
		</div>
		<!--Tooltip E -->

		<!-- Typehead Filter S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">Typehead Filter</h2>
			<p>
				<app-filter-typehead></app-filter-typehead>
			</p>
		</div>
		<!--Typehead Filter E -->

		<!-- Typehead Filter S -->
		<div class="container m-top-60 m-bottom-60">
			<h2 class="title text-center mb-4">loader</h2>
			<p>
				<app-loadder></app-loadder>
			</p>
		</div>
		<!--Typehead Filter E -->

		

	</div>
</article>
