/* !header
---------------------------------------------------------- */
#header {
	padding: 12px 0;
}
#headerIn {
	/* background: url("../img/img_car.png"); */
	position: relative;
}
#headerLogo a{
	display: inline-block;
}
#headerLogo a img{
	width: 120px;
}
#headerLinks {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
#wrapper p.navbarToggle {
	text-align: right;
	padding: 20px 0 0 0;
}
#wrapper p.navbarToggle i {
    font-size: 26px;
    color: red;
}
.logo img{
	width: 120px;
}

/* !gNavi
---------------------------------------------------------- */		
#gNavi {
	padding: 20px 0;
}
#gNavi li {
	margin-left: 30px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
#gNavi li a {
	display: block;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	font-size:16px;
	color: #414141;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.3;
}
#gNavi li.selected a {
}
#gNavi li a.parent{
}
#gNavi .pulldownmenu {
    display: none;
    position: absolute;
    left: 0;
    background: #fff;
    box-shadow:0 0 3px 2px #ece6e6;
    width: 200px;
    box-sizing: border-box;
}
#gNavi .pulldownmenu li {
	margin-left: 0;
}
#gNavi .pulldownmenu li a {
	padding:12px 12px;
	color: #000;
}
#gNavi li:hover > .pulldownmenu{
	display: block;
}
/* !Sebmenu
---------------------------------------------------------- */
#wrapper #gNavi .pulldownmenu li > .pulldownmenu {
    display: none !important;
    left: 100%;
    z-index: 999;
    top: -1px;
}
#wrapper #gNavi .pulldownmenu li i {
	float: right;
}
#wrapper #gNavi .pulldownmenu li:hover > .pulldownmenu{
	display: block !important;
}
@media screen and (max-width: 991px) {
	#gNavi {
		display: none;
		padding: 20px 0;
		float: right;
	}

	#gNavi li {
		float: left;
		margin-left: 20px;
		position: relative;
	}
	#gNavi li a {
		display: block;
		text-decoration: none;
		font-size: ;
		line-height: ;
	}
	#gNavi li.selected a {
	}
	#gNavi li a.parent{
	}
	#gNavi .pulldownmenu {
	    display: none;
	    position: absolute;
	    left: 0;
	    right: 0;
	    padding: 12px;
	    background: red;
	    width: 200px;
	}
	#gNavi .pulldownmenu li {
		float: none;
		margin-left: 0;
	}
	#gNavi .pulldownmenu li a {
		color: #fff;
	}
}
/* !navbarCollapse
---------------------------------------------------------- */
.navbarCollapse {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	top: 100%;
	box-sizing: border-box;
	padding: 20px;
}
.navbarCollapse li {
}
.navbarCollapse li a {
	color: #fff;
	font-size: 14px;
	line-height: 1.5;
	display: block;
	text-align: center;
}
.navbarCollapse li a.subBtn {
}
.navbarCollapse .subUl {
}
.navbarCollapse .subUl li {
}
.navbarCollapse .subUl li a {
}